<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Lista de Cadidatos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div>
            <h:datatable id="candidatos"
                         value="#{candidados}"
                         var="candidato">
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="asas"/>
                    </f:facet>
                    <h:outputText id=""
                                  size=""
                                  value=""
                                  title=""
                </h:column>
            </h:datatable>
            
        </div>
    </body>
</html>
